*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #FFF5B2;
    font-style: normal 15pt Arial;
}

header{
    color: #362C28;
    text-align: center;
    padding: 1rem 0 1rem 0;
}

section{
    background: whitesmoke;
    border-radius: 1rem;
    padding: 1.5rem;
    max-width: 50rem;
    margin: auto;
    box-shadow: .5rem .5rem 1rem rgba(128, 128, 128, 0.733);
}

footer{
    color: #362C28;
    text-align: center;
    font-style: italic;
    padding: 1rem 0 1rem 0;
}