*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #828072;
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: auto;
}

header{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 2rem 0 1rem 0;
    letter-spacing: 1px;
}

header::after{
    background-color: #ffffff;
    content: '';
    margin: 1rem auto 0 auto;    
    height: .1rem;
    max-width: 25rem;
    width: 100%;
    justify-content: center;
    display: block;
}

section{
    background: rgba(255, 255, 255, 0.537);
    border-radius: 1rem;
    padding: 1.5rem;
    max-width: 35rem;
    margin: auto;
}

div{
    text-align: center;
    padding: .5rem;
}

footer::before{
    background-color: #ffffff;
    content: '';
    margin: 1rem auto;    
    height: .1rem;
    max-width: 25rem;
    width: 100%;
    justify-content: center;
    display: block;
}